input {
    height: 25px;
}
.robot-component {
    border: solid 2px yellow;
}
#conteneur {
    /* margin-left: auto;
    margin-right: auto; */
    /* border: solid 1px blue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
}
#header {
    margin: 20px auto;
    font-weight: bold;
}